<h1> add a row <h1>
<form role='form'>
	<div class='form-group'>
		<label for='field 1'>Name:</label>
		<input type="text" placeholder='input keyword' class="input-medium" ng-model="row.Name"/><br>
	</div>
	<div class='form-group'>
		<label for='field 1'>Country:</label>	
		<input type="text" placeholder='input keyword' class="input-medium" ng-model="row.Country"/><br>	
	</div>	
	<div class='form-group'>
		<label for='field 1'>City:</label>
		<input type="text" placeholder='input keyword' class="input-medium" ng-model="row.City"/><br>
	</div>
	<button ng-click='save(row)'>Save</button>
	<button ng-click="closeThisDialog('bye')";>Cancel</button>	

</form>
