
<h2>There are {{data.sharingRows.length}} record(s).</h2><br/>
	 
<label>Filename: </label><input type=text ng-model='csvfilename' placeholder='crm'>
<button type="button" ng-csv="data.sharingRows" csv-header="['id', 'inn_name', 'eng_name', 'jpn_name', 'tel', 'fax', 'mobile', 'addr', 'eng_addr', 'jpn_addr', 'status', 'website', 'email', 'landlord', 'type', 'no_of_room', 'prices', 'traffic', 'certificated_data', 'remodel_date', 'pix_upload_date', 'source', 'in_charge', 'approach']" filename= {{csvfilename}}.csv>Export</button>