
<!--
<div>
  <h2>Select a csv file</h2>
    <input type="file" on-read-file="showContent($fileContent)" />
    <div ng-if="content">
    {{ $fileContent }} 
        <h2>File content is:</h2>
    
    
        
    </div>
</div>
-->

<form class='form'>
	<div class="form-group"
	<label>Select csv file to upload:</label>
	<input type="file" name='fileName' id='fileToUpload'/>
    </div>
    <div class='row'>
	<div class='form-group col-xs-2'>
        <label for='sel1'>Select list:</label>
            <select ng-model='selectedCity' name="cities" class="form-control">
                <option ng-repeat='city in cities' value='{{city}}'>{{city}}</option>                
            </select>
    </div>
    </div> 
    <div class="form-group">    
	<button class='btn btn-primary' ng-click="importCsv(fileName, selectedCity)"><span class="glyphicon glyphicon-import"></span> Import</button>
    </div>
</div>
</form>
