
<!--
<div>
  <h2>Select a csv file</h2>
    <input type="file" on-read-file="showContent($fileContent)" />
    <div ng-if="content">
    {{ $fileContent }} 
        <h2>File content is:</h2>
    
    
        
    </div>
</div>
-->
<div class='well'>
<form class='form'>
	<div class="form-group">		
		<input type="file" name='fileName' id='fileToUpload'>
        
    </div>

    <div class='row'>
		<div class='form-group col-xs-2'>
        	<label for='sel1'>Select list:</label>
            <input type='text' list='cities' />
                <datalist ng-model='selectedCity' name="cities" id='cities'>
                    <option ng-repeat='city in cities' value="{{city}}"></option> 
                </datalist>              
           
            <span class="help-block">Select a City from the list</span>
    	</div>
    </div>

    <div class="form-group">
		<button type='button' class='btn btn-primary' ng-click="importCsv(fileName, selectedCity)"><span class="glyphicon glyphicon-import"></span> Import</button>
    </div>
</form>
</div>