<section>
<h4 class='text-primary'>{{ actionForBox }}</h4>	
<form class='form-inline' role='form'>
	<input type="hidden" ng-model="row.id" />
	<input type="text" ng-model="row.inn_name" placeholder='inn name' autofocus />
	<input type="tel" pattern='[0-9]{8}' ng-model="row.tel" placeholder='tel'/>
	<input type="tel" pattern='[0-9]' ng-model="row.fax" placeholder='fax'/>
	<input type="tel" pattern='[0-9]' ng-model="row.mobile" placeholder='mobile'/>
	<input type="text" ng-model="row.addr" placeholder='chn address'/>
	<input type="text" ng-model="row.eng_addr" placeholder='eng address'/>
	<input type="text" ng-model="row.jpn_addr" placeholder='jpn address'/>
	<input type="text" ng-model="row.status" placeholder='status'/>
	<input type="url" ng-model="row.website" placeholder='website'/>
	<input type="email" ng-model="row.email" placeholder='email'/>
	<input type="text" ng-model="row.landlord" placeholder='landlord'/>
	<input type="number" ng-model="row.no_of_room" placeholder='no of room'/>
	<input type="number" ng-model="row.prices" placeholder='price range' />
	<input type="date" ng-model="row.certificated_date" placeholder='certificated date'/>

	<button class='btn btn-primary' aria-label="Left Align" ng-show='showAddBtn' ng-click="add_row(row)"><span class="glyphicon glyphicon-plus"></span> Add&nbsp;&nbsp;</button>
	<button class='btn btn-info' aria-label="Left Align" ng-hide='showAddBtn' ng-click="update_row(row)"><span class="glyphicon glyphicon-retweet"></span> Update</button>
	<button class='btn btn-warning' ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>	
</form>
</section>
	