<div class='panel'>
	<h3 class='panel-heading'>Search for content</h3>
	<div class='row well well-sm text-center'>
		
		<div class='col-sm-3'>
			<!-- <label for='search' class='text-primary'>Search</label> -->
			<div class='form-group has-feedback'>
				<label>Search:</label>				
				<input type="search" ng-model="query" ng-change="search()" class="search-query" placeholder="Filter text" autofocus>
				<i class='glyphicon glyphicon-search'></i>
			</div>	
		</div>	

		<div class='col-sm-1'>				
			<input type='number' min='1' max='20' class='form-control' ng-model='pageSize'/>
		</div>	
		
		<div class='col-sm-2'>
			<p>Total records: <span class='badge'>{{data.sharingRows.length}}</span> </p>
		</div>

		<div class='col-sm-6 hidden-xs visible-md visible-lg'>
			<img src='2.png'/>
		</div>

	</div>
</div>