<div class=row>
	
	<div class='col-xs-4'>
		<!-- <label for='search' class='text-primary'>Search</label> -->
		<div class='form-group has-feedback'>
			<label>Search:</label>				
			<input type="search" ng-model="query" ng-change="search()" class="form-control" placeholder="Filter text">
			<i class='glyphicon glyphicon-search form-control-feedback'></i>
		</div>	
	</div>	

	<div class='col-xs-2'>		
			<label>items per page:</label>		
			<input type='number' min='1' max='20' class='form-control' ng-model='pageSize'>	
	</div>
	<div class='col-xs-4'></div>
	<div class='col-xs-2'>
		<p>Total records: <span class='badge'>{{data.sharingRows.length}}</span> </p>
	</div>

</div>