<div>	    	
	<br/>
	<br/>
	<h4>Add row</h4>
	
	<form calss='form-inline' role='form'name="add_row">
		<input type="hidden" name="prod_id" ng-model="row.prod_id">
		<input type="text" name="prod_name" ng-model="row.prod_name" placeholder="Enter row Name">
		<input type="text" name="prod_desc" ng-model="row.prod_desc" placeholder="Enter row Description">
		<input type="text" name="prod_price" ng-model="row.prod_price" placeholder="Enter row Price">
		<input type="text" name="prod_quantity" ng-model="row.prod_quantity" placeholder="Enter row Quantity">
		<button class='btn btn-primary' aria-label="Left Align" ng-show='showAddBtn' ng-click="row_submit(row)"><span class="glyphicon glyphicon-ok"></span> Submit</button>
		<button class='btn btn-info' aria-label="Left Align" ng-hide='showAddBtn' ng-click="update_row(row)"><span class="glyphicon glyphicon-retweet"></span> Update</button>
		<button class='btn btn-warning' ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>	
		</form>	
	</form>

	<br/>		
	<h4>Search row</h4>
	<div class="input-append">
		<input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search for a row">
		<span class="glyphicon glyphicon-search"></span>
	</div>
	<br/>
	<br/>
	<table border=1  class="table table-striped table-condensed table-hover">
		<thead>
			<th>ID</th>
			<th>row Name&nbsp;<a ng-click="sortField ='prod_name'; reverse = !reverse"><i class="icon-sort"></i></a></th>
			<th>row Description&nbsp;<a ng-click="sortField ='prod_desc'; reverse = !reverse"><i class="icon-sort"></i></a></th>
			<th>row Price&nbsp;<a ng-click="sortField ='prod_price'; reverse = !reverse"><i class="icon-sort"></i></a></th>
			<th>row Quantity&nbsp;<a ng-click="sortField ='prod_quantity'; reverse = !reverse"><i class="icon-sort"></th>	 
			<th>Action</th>     		
		</thead>	      	
		<tfoot>
			<td colspan="6">
				<div class="pagination pull-right">
					<ul>
						<li ng-class="{disabled: currentPage == 0}">
							<a href ng-click="prevPage()">« Prev</a>
						</li>
						<li ng-repeat="n in range(pagedItems.length)"
						ng-class="{active: n == currentPage}"
						ng-click="setPage()">
						<a href ng-bind="n + 1">1</a>
					</li>
					<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
						<a href ng-click="nextPage()">Next »</a>
					</li>
				</ul>
			</div>
		</td>
	</tfoot>
	<tbody ng-init="get_row()">
		<tr ng-repeat="row in rows | filter:query | orderBy:sortField:reverse" ng-animate="'slide'">
			<td>{{ row.id }}</td> 
			<td>{{ row.prod_name | uppercase }}</td>
			<td>{{ row.prod_desc }}</td>
			<td>{{ row.prod_price }}</td>
			<td>{{ row.prod_quantity }}</td>		
			<td>
			<button type='button' class="btn btn-xs btn-success" ng-click="prod_edit(row.id)"><span class="glyphicon glyphicon-pencil"></span> Edit&nbsp;&nbsp;&nbsp;</button>
			<button type='button' class="btn btn-xs btn-danger" ng-click='prod_delete(row.id)'><span class="glyphicon glyphicon-trash"></span> Delete</button> 
			<!--
			<a href="" ng-click="prod_edit(row.id)">Edit</a> | <a href="" ng-click="prod_delete(row.id)">Delete</a>
			-->
			</td>
		</tr> 		  
	</tbody>	
</table>
<h1>{{data.sharingRows.length}} </h1>
</div>